.customBody {
  width: 80%;
  fill: white;
  color: white;
}

.customHeader {
  background-color: #f72210;
}

.customHeader__customButtonSubscribe {
  width: 94px;
}

.customHeader__customSvg_logo {
  width: 132px;
}

.customHeader__customLoginIcon {
  width: 30px;
  margin-left: auto;
}

.customButtonSubscribe {
  background-color: yellow;
  color: black;
  border: 0;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: bold;
  font-stretch: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

.customSvg {
  color: inherit;
  fill: inherit;
  font-weight: 700;
}
