.customBody {
  width: 80%;
}

.customHeader {
  background-color: #f72210;
  fill: white;
  color: white;
}

.customHeader__customButtonSubscribe {
  width: 94px;
}

.customHeader__customSvg_logo {
  width: 132px;
}

.customHeader__customLoginIcon {
  width: 30px;
  margin-left: auto;
}

.customButtonSubscribe {
  background-color: yellow;
  color: black;
  border: 0;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: bold;
  font-stretch: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

.customSvg {
  color: inherit;
  fill: inherit;
  font-weight: 700;
}

.customSectionTitle {
  color: rgba(3, 3, 3, .4);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: calc(27 / 16)rem;
  line-height: 16px;
}

.customCategoryTitle {
  background-color: rgba(255, 255, 255, .9);
  color: #F72210;
  text-align: center;
  line-height: 1.5;
}

.customArticleTitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: 700;
  height: auto;
  line-height: 24px;
}
